.fondo{
    background-color: #fff !important;
}

.action-sheet-group{
    --background:var(--ion-color-light);
}

.action-sheet-group button{
    --background:var(--ion-color-light);
}

.sc-ion-action-sheet-ios{
    --background:var(--ion-color-light);
}

.sc-ion-action-sheet-ios button{
    --background:var(--ion-color-light);
}