<app-header title="Documento"></app-header>

<ion-content class="ion-padding">
  <ion-card mode="ios" class="fondo">
    <ion-img src="assets/img/logo.jpeg"></ion-img>
    <!-- <img src="/assets/Vectorizadojpg.jpg"> -->

    <ion-card-content>
      <ion-button routerLink="/documents" expand="block" fill="outline" color="primary">
        Buscar Documento
      </ion-button>
      <ion-button routerLink="/doc-firma" expand="block" fill="outline" color="primary">
        Pendientes de Firma
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>