.botonera{
    margin-top: 320px;
  }
  
  .my-confirm-class{
    /*z-index: 999 !important;*/
    z-index: 99;
  }
  
  .fondo{
    --ion-background-color: #ffffff !important;
    --ion-item-background: #ffffff !important;
    --ion-backdrop-color: #ffffff !important;
    --ion-text-color: #222;
  }
  
  ion-toolbar{
    --background: #ffffff !important;
  }
  