.text-center .hydrated{
    width: 100%;
    text-align: center !important;
  }
  
  .fondo, ion-item-group, ion-item{
    --ion-background-color: #ffffff !important;
    --ion-text-color: #222;
  }
  
  ion-toolbar{
    --background: #ffffff !important
  }
  