<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="vacacion">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Periodos de Vacacion</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="utilizados">
      <ion-icon name="calendar-clear"></ion-icon>
      <ion-label>Periodos Utilizados</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cuenta">
      <ion-icon name="card"></ion-icon>
      <ion-label>Cuenta corriente</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
